
/* Generals */
body{
background-color: black;
color: white;
font-family: 'Montserrat', sans-serif;
}

img {
  width: 32%;
  height: auto;
  border-radius: 18px;
}

hr {
  border: 2px solid rgb(49, 49, 49);
  border-radius: 5px;
}


/* Class */
.img1 {
  width: 4%;
  height: auto;
  vertical-align: middle;
}

.body-exc2-london {
  padding: 20px;
  width: 1000px;
  margin: auto;
  background: rgb(201,124,255);
  background: linear-gradient(180deg, rgba(201,124,255,0.3897934173669467) 0%, rgba(0,0,0,0) 43%, rgba(201,124,255,0.10127801120448177) 100%);
  border-radius: 18px;
}